In [1]:
import pandas as pd
import matplotlib as plt
import seaborn as sns 
import numpy as np

In [4]:
TRUE_EFFECT = 0.5
df_N300 = pd.read_csv("linear_dgp_noisy_network_N300.csv")
df_N300

,mean,median,std,q025,q975,min,max,type,iter
0,0.495564,0.495602,0.030106,0.437499,0.554226,0.363781,0.622929,oracle,0
1,0.203294,0.203368,0.029827,0.145011,0.261152,0.081530,0.333341,observed,0
2,0.224091,0.224466,0.198762,0.121092,0.325713,-0.047610,0.475307,cut-2S,0
3,0.221572,0.218839,NaN,0.102529,0.354597,-0.041158,0.536156,cut-3S,0
4,0.528034,0.527618,0.059028,0.411538,0.643110,0.309904,0.815184,plugin,0
...,...,...,...,...,...,...,...,...,...
235,0.461467,0.461108,0.027438,0.408938,0.515705,0.358139,0.583072,oracle,47
236,0.232194,0.231699,0.028364,0.178080,0.288084,0.117308,0.345892,observed,47
237,0.261403,0.261598,0.160262,0.175094,0.346738,0.049374,0.468636,cut-2S,47
238,0.258244,0.254506,NaN,0.151384,0.384795,0.029478,0.573915,cut-3S,47
239,0.502933,0.502565,0.045477,0.415005,0.592422,0.326004,0.709947,plugin,47

In [8]:
df_N300["RMSE"] = np.square(df_N300["mean"]-TRUE_EFFECT) + np.square(df_N300["std"])
df_N300["true_included"] = (df_N300["q025"] <= TRUE_EFFECT) & (df_N300["q975"] >= TRUE_EFFECT)

,mean,median,std,q025,q975,min,max,iter,RMSE
count,240.000000,240.000000,192.000000,240.000000,240.000000,240.000000,240.000000,240.000000,192.000000
mean,0.336611,0.335917,0.068069,0.256495,0.420111,0.165323,0.525681,23.500000,0.045909
std,0.131974,0.132427,0.058658,0.137856,0.128191,0.158095,0.132285,13.882351,0.044071
min,0.148576,0.148587,0.023113,0.083116,0.209590,-0.054082,0.265079,0.000000,0.000625
25%,0.231633,0.229804,0.028831,0.144121,0.308578,0.028178,0.429751,11.750000,0.002357
50%,0.261609,0.261058,0.035035,0.180541,0.369702,0.112516,0.533400,23.500000,0.035698
75%,0.482393,0.482556,0.081461,0.408699,0.547283,0.324543,0.615044,35.250000,0.087461
max,0.627120,0.627709,0.206964,0.515083,0.740887,0.461951,0.893453,47.000000,0.130311

In [13]:
df_N300.groupby("type").agg({'mean' : ['mean'],
                             'median' : ['median'],
                             'std' : ['mean'],
                             'RMSE' : ['mean'],
                             'q025' : ['mean'],
                             'q975' : ['mean'],
                             'true_included' : ['mean']})

,mean,median,std,RMSE,q025,q975,true_included
,mean,median,mean,mean,mean,mean,mean
type,,,,,,,
cut-2S,0.239277,0.243986,0.167251,0.097230,0.149758,0.328236,0.000000
cut-3S,0.239566,0.239795,NaN,NaN,0.133626,0.362533,0.000000
observed,0.223043,0.227113,0.029386,0.078292,0.165527,0.280568,0.000000
oracle,0.503245,0.507327,0.027677,0.001452,0.449137,0.557584,0.958333
plugin,0.477926,0.474050,0.047961,0.006660,0.384425,0.571636,0.791667